$color_mako_approx: #424a52;
$white: #fff;
$color_pistachio_approx: #9eab05;
$tuatara: #363534;
$color_mercury_approx: #e3e3e3;
$black: #000;

.footer {
  background-color: $color_mako_approx;
  color: $white;
  font-size: 14px;
  padding: 50px 0;
  a {
    color: $white;
    &:hover {
      color: $color_pistachio_approx;
    }
    &:focus {
      color: $color_pistachio_approx;
    }
  }
  ul {
    margin: 0 0 30px 0;
  }
  li {
    margin-bottom: 0;
  }
  p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .list-inline {
    text-align: left;
    > li {
      padding: 0 5px 0 0;
    }
  }
}
.footer-map {
  margin-bottom: 30px;
}
@media(min-width: 768px) {
  .footer {
    ul {
      margin: 0;
      &.social-icons {
        margin-bottom: 30px;
      }
    }
    .list-inline > li {
      padding: 0 10px 0 0;
    }
  }
  .social-icons > li > a {
    font-size: 30px;
  }
}
@media(min-width: 992px) {
  .footer .list-inline {
    text-align: right;
  }
}
#PopUp {
  background: none repeat scroll 0 0 $tuatara;
  zoom: 1;
  filter: alpha(opacity=75);
  opacity: 0.75;
  bottom: 0;
  color: $white;
  font-size: 14px;
  padding: 10px;
  position: fixed;
  right: 0;
  text-align: left;
  width: 100%;
  z-index: 9999;
  p {
    color: $white;
    font-size: 14px;
    margin: 0 20px 0 0;
    padding: 0;
  }
  a {
    color: $color_mercury_approx;
    text-decoration: underline;
  }
}
.close-cookie {
  color: $white;
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
  line-height: 0.5;
  position: absolute;
  right: 11px;
  text-decoration: none !important;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: 2px 2px 3px $black;
  top: 11px;
  z-index: 1000;
}
.social-icons > li {
  display: inline-block;
  padding-right: 0;
  padding-left: 5px;
  > a {
    font-size: 30px;
  }
}

.copywrite {
  background: #e53935;
  width: 100%;
  display: block;
  .copywrite-inner {
    margin: 0 auto;
    max-width: 960px;
    padding: 35px 50px;
    color: white;
    font-size: 18px;

  }
}